.lili {
    width: 300px; /* Устанавливаем ширину */
    height: auto; /* Высота будет динамической */
    position: relative; /* Позиционирование для вложенных элементов */
}
.main { 
    padding-top: 100%; /* 100% от ширины - это высота, чтобы сохранить пропорцию 1:1 */
    position: absolute; /* Делаем элемент абсолютным для заполнения .avatar */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}