.lala {
    background-color: pink;
    font-family: Verdana, DejaVu Sans, sans-serif;
}
.lili {
    color: rgb(38, 0, 255);
    font-size: 36px;
}
.lolo {
    font-size: 24px;
}
.lalala {
    background-color: rgb(0, 255, 0);
    font-size: 24px;
}
